# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.env.*

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Database files
*.db

# Qdrant / vector DB data (if local)
storage/
qdrant_storage/

# Docker
*.pid

# Jupyter
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/